<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">JobsityChallenge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/farms" routerLinkActive="active"><i class="fas fa-gamepad">Farms</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/farms/add" routerLinkActive="active"><i class="fas fa-plus-circle">Add Farms</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ponds" routerLinkActive="active"><i class="fas fa-gamepad">Ponds</i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/ponds/add" routerLinkActive="active"><i class="fas fa-plus-circle">Add Ponds</i></a>
              </li>
          </ul>
        </div>
      </div>    
</div>
  </nav>
