<div class="colm-md-4" *ngFor="let farm of farms">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{farm.name}}
            <button class="btn bnt-danger" (click)="deleteFarm(farm.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="farm.image" class="card-img-top">
        <div class="card-body">
            <p>{{farm.description}}</p>
            <!--<a class="btn btn-info btn-block" (click)="editFarm(farm.id)">-->
            <a [routerLink]="['/farms/edit',farm.id]" class="btn btn-info btn-block">
                EDIT FARM
            </a>
        </div>
    </div>
</div>
